@font-face {
    font-family:allien;
    src: url(../fonts/Alien-Encounters-Regular.ttf);
}
@font-face {
    font-family:Lazer;
    src: url(../fonts/Lazer84.ttf);
}
@font-face {
    font-family:Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family:sabo;
    src: url(../fonts/Sabo-Regular.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    span.primary-color {
        background-image: linear-gradient(to top,var(--tw-gradient-stops));
        --tw-gradient-from: #f97316;
        --tw-gradient-to: rgb(249 115 22 / 0);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: #eab308;
        background-clip: text;
        color: #0000;
    }
    span.secondary-color {
        color: #ff47b2;
    }
    cursor: url('../cursor/cursor.png'), auto;
    ::selection {
        background:#750044 ;
        color: white;
    }
}
a, 
.hovered {
    cursor: url('../cursor/pointer.png'), auto;  
    img,
    i {
        pointer-events: none !important;
    }
}
body {
    background-color:#0d020e;
    background-repeat: no-repeat;
}
// golabal (needs to be imported to separate file later)
// variables
$border_color: #ffb352;
// page styles
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background: #0d020e; 
}
::-webkit-scrollbar-thumb {
  background: #791d52; 
}
// classes
.text {
    color: white;
    padding: 50px;
    font-family: allien;
}
*.hide {
    display: none !important;
}
.code_snippet {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px 20px;
    width: fit-content;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    background: #000e1d;
    border-radius: 10px;
    .code {
        span.yellow {
            color: #ddbb6b;
        }
        span.green {
            color: #22aa44;
        }
        span.blue {
            color: #6688cc;
        }
        span.pink {
            color: #ff47b2;
        }
    }
    span.number {
        color: gray;
    }
}
.Section_Title {
    font-family: Sabo;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
}
.center_x {
    margin-left: auto !important;
    margin-right: auto !important;
}
// mixins
@mixin fire_color() {
    background-image: linear-gradient(to top,var(--tw-gradient-stops));
    --tw-gradient-from: #f97316;
    --tw-gradient-to: rgb(249 115 22 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #eab308;
    background-clip: text;
    color: #0000;
}
@mixin eighties_color() {
    background-image: linear-gradient(to top,var(--tw-gradient-stops));
    --tw-gradient-from: #750044;
    --tw-gradient-to: rgb(249 115 22 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #ff47b2;
    background-clip: text;
    color: #0000;
}
@mixin toCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}